.game{
    border: solid;
    padding: 24px;
    margin: auto;
    max-width: 800px;
    min-height: 500px;
    background-color: antiquewhite;
    position: relative;
    &-item{
        width: 100px;
        height: 50px;
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
}